<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
</br>
<button onclick="history.back()"><-Geri</button>
<br ><h1 class = "text-center">Kitap Ödünç Verme Sistemi</h1>

<h3 class = "text-center">Kitap Ekle </h3>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

            <div class = "card-body">
                <form  th:object = "${book}" method="POST">
                    <div class ="form-group">
                        <input
                                type = "text"

                                th:field = "*{kitapAdi}"
                                class = "form-control"
                                placeholder="Kitap Ekle"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Kitap Ekle
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>